{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Habitos dia a dia </title>
    <link rel="stylesheet" href="{% static 'css/test_style.css' %}">
</head>
<body>
    <h1>Habitos y estilo de vida</h1>

    <div class="form-container">
        <form action="/estilo_vida_enviar/" method="POST">
            {% csrf_token %}
            
            <h1 class="titulo">Super test</h1>

            <div class="form-group">
                <strong>¿Cuantas horas duermes por noche?</strong>
                <input name="horas_sueño" placeholder="horas de sueño" type="text" id="horas_sueño" required>
            </div>

            <div class="form-group">
                <strong>¿Consumes frutas y vegetales?</strong>
                <input name="frutas_vegetales" placeholder="frutas-vegetales" type="text" id="frutas_vegetales" required>
            </div>

            <div class="form-group">
                <strong>¿Consumes alcohol?</strong>
                <input name="consumo_alcohol" placeholder="consumo de alcohol" type="text" id="consumo_alcohol" required>
            </div>

            <div class="form-group">
                <strong>¿Fumas?</strong>
                <input name="fumar" placeholder="fumar " type="text" id="fumar" required>
            </div>

            <div class="form-group">
                <strong>¿Haces ejercicio regularmente?</strong>
                <input name="ejercicio" placeholder="ejercicio" type="text" id="ejercicio" required>
            </div>


            <div class="form-group">
                <strong>¿Comes tus 3 alimentos del dia? (desayuno, almuerzo, cena)?</strong>
                <input name="horario_alimentacion" placeholder="horario de alimentacion" type="text" id="horario_alimentacion" required>
            </div>

            <div class="form-group">
                <strong>¿Fisicamente te consideras que estas? (aca es responder delgado,sobrepeso, gordo, gordo morbido)</strong>
                <input name="estado_peso" placeholder="estado de peso" type="text" id="estado_peso" required>
            </div>


            <button type="submit" id="button">Enviar</button>

            <div class="separador"></div>

            {% if error_message %}
                <div class="error-message">{{ error_message }}</div>    
            {% endif %}

            <div class="volver">
                <a href="oficial/" class="link">Volver</a>
            </div>
        </form>
    </div>
</body>
</html>